
<body style="margin-top: 2%">
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


<main role="main" style="margin-top: 2%">
  

  <div class="container marketing" style="margin-top: 2%">
      <h1 class="text-center">Conferencistas</h1>
    <div class="row justify-content-md-center">
      
      <div class="col-lg-4">
          <div  class="ratio img-responsive img-circle" 
          style="background-image: url(https://extension.illinois.edu/stain/stains-hi/235.jpg);"></div>
        <h2>NOMBRE</h2>
        <p>DATOS</p>
      </div>
    </div>
    <hr class="featurette-divider">
    <h1 class="text-center">Arcerca de las Conferencias</h1>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">NOMBRE</h2>
        <p class="lead text-justify">DESCRIPCION.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
        height="500" src="https://extension.illinois.edu/stain/stains-hi/235.jpg" alt=""> 
      </div>
    </div>  
  </div>
</main>
</body>