<body style="margin-top:5%; margin-bottom: 5%">
  <div class="row">
    <div class="col-md-3" *ngFor='let user of users'>
      <div class="container">
        <div class="display">
          <div class="display-item">
            <div class="card seamus">
              <div class="card-top"></div>
              <div class="card-profile">
                <div class="profile-image">
                  <img class="mb-4"
                    src="https://www.edmontoncorporatechallenge.com/Sports%20Icons/unknown-challenge.png" alt="">
                </div>
              </div>
              <div class="card-info">
                <div class="info-title">
                  <h2>{{user.nombre}}</h2>
                  <h5>{{user.email}}</h5>
                  <h5>{{user.rol}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div class="text-center" *ngIf="loading" id="spinner">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>